h2 Informações da cerveja

p
  b Nome: 
  {{ cerveja.name }}

  br
  b Preço: 
  {{ cerveja.price }}

  br
  b Teor alcoólico: 
  {{ cerveja.alcohol }}

  br
  b Tipo: 
  {{ cerveja.category }}
  
  br
  b Descrição: 
  {{ cerveja.description }}

p
  a(data-ng-href="/beers/{{cerveja._id}}/edit") Editar
  br
  a(data-ng_href="/beers/{{cerveja._id}}/remove") Deletar